alembic
amqp
appnope
APScheduler
argon2-cffi
argon2-cffi-bindings
asttokens
async-generator
attrs
backcall
bcrypt
beautifulsoup4
billiard
bleach
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cryptography
cycler
debugpy
decorator
defusedxml
dnspython
email-validator
entrypoints
exceptiongroup
executing
fastjsonschema
Flask
flask-mongoengine
Flask-SQLAlchemy
Flask-WTF
fonttools
greenlet
gunicorn
h11
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
instagrapi
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
kombu
Mako
MarkupSafe
matplotlib
matplotlib-inline
mistune
mongoengine
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
outcome
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycparser
pydantic
Pygments
pymongo
PyMuPDF
PyMySQL
pyparsing
pyrsistent
PySocks
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
pyzmq
qtconsole
QtPy
requests
selenium
Send2Trash
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
terminado
tinycss2
tornado
tqdm
traitlets
trio
trio-websocket
typing_extensions
tzdata
tzlocal
urllib3
vine
wcwidth
webdriver-manager
webencodings
Werkzeug
widgetsnbextension
wsproto
WTForms
zipp
# Flask==2.2.3
Flask==2.2.3
networkx
colour_runner
mongoengine
coverage
pre-commi
